name: Deploy Infrastructure
on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v3
      
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          
      - name: Install Dependencies
        run: npm install

      - uses: pulumi/actions@v4
        with:
          command: up        # This CREATES the resources
          stack-name: dev    # Matches the stack you initialized
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
          # This connects to your specific OIDC setup
          PULUMI_ES_ENV: Muskaan-org/aws-oidc/dev